.contato{
    background-image: url('/imagem/lixeira.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
    width:100%;
   
           
}
.areacontato{
    width: 80%;
    height:30vh;
    background-color: white ;
    
}