.container{
    background-image: url('/imagem/cofre.jpg');
    object-fit: cover;   
    width: 100%;
    height: 100%;
    position: fixed;
   
    
    
}
.container h1 {
    text-align: center;
}
.qrcode{
    text-align: center;
}
.pix{
    width: 90%;
   padding-top: 40px;
   align-items: baseline;
    margin:0 auto;
    
   
    
}
.pix h2 {
    text-align: center;
}
.pix h3{
    text-align: center;
}
.button {
    text-align: center;
    margin:0 auto;
    margin-top:35px;
    
}
  .button button {
    background-color:orange;
    border-radius: 20px;
    width: 100px;
  }